extends layout
block login
	div
		a(href="/login" class="enlace font-Oswald c_blue padding_left icon16") Iniciar Sesión
		a(href="/signup" class="enlace font-Oswald c_blue padding_left icon16") Registro
block contenido
block titulo
	h2 Bienvenidos
block subtitulo1
	p Noticias
block subcontenido1
    div(class="img_container2 border margin_top padding_top border_radius")
    div(style="border-bottom: 1px dashed rgba(128, 128, 128, 0.50);" class="margin_top margin-bottom")